<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>


    <div id="navbar">
        <a class="navbarLinks" id="navbarHome" href="/">Kanji Memory Add</a>
        <% if (loggedin === true) { %>
            <a class="navbarLinks navbarRightside" href="/logout">logout</a>
            <p class="navbarRightside"> <%= username %> </p>
        <% } else {%>
            <a class="navbarLinks navbarRightside" href="/signup">sign up</a>
            <a class="navbarLinks navbarRightside" href="/login">login</a>
        <% } %>
    </div>

    <div id="mainArea">
        <% if (loggedin === true) { %> 
            <a class="mainHref" href="/review">Review <span id="reviewCounter"><%= reviewLength %></span></a>
        <% } %>
    </div>

</body>
</html>