<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>


    <div class="navbar">
        <a class="homeHref" href="/index.ejs">Kanji Memory Add</a>
        <% if (loggedin === true) { %>
            <a class="lsHref" href="/logout">logout</a>
            <p id="username"> <%= username %> </p>
        <% } else {%>
            <a class="lsHref" href="/signup.html">sign up</a>
            <a class="lsHref" href="/login.html">login</a>
        <% } %>
    </div>

    <div class="mainArea">
        <% if (loggedin === true) { %>
            <a class="mainHref" href="/review">Review</a>
        <% } %>
    </div>

</body>
</html>