<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>

    <div class="navbar">
        <a class="homeHref" href="/">Kanji Memory Add</a>
        <a class="lsHref" href="/signup.html">sign up</a>
        <a class="lsHref" href="/login.html">login</a>
    </div>

    <form action="/addLogin" method="post">
        <div class="container">
            <h1>Login</h1>
            <hr>

            <label>Email</label>
            <input class="epInput" type="text" placeholder="Email" name="email" required>

            <label>Password</label>
            <input class="epInput" type="password" placeholder="Password" name="password" required>

            <div class="clearfix">
                <button class="signupbtn" type="submit">Login</button>
            </div>
        </div>
    </form>


</body>
</html>