<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>

    <div id="kanjiHolder">
        <div id="navHolder">
            <a id="reviewHomeHref" href="/">Home</a>
            <p id="remainingCounter">0</p>
        </div>

        <div id="kanjiTextHolder">
            <p id="kanji">shouldnotbehere</p>
        </div>
    </div>

    <hr id="reviewSeparation">

    <div id="buttonHolder">
        <input type="button" id="incorrectButton" class="wideButton" value="Incorrect" />
        <input type="button" id="correctButton" class="wideButton" value="Correct" />

        <form id="reviewForm" action="/reviewEnd" method="post">
            <input id="reviewInput" type="hidden" name="checkIfList" value="">
        </form>
    </div>

    <div id="infoHolder">
        <details id="vocabInfo">
            <summary>Info</summary>
            <p id="meaningInfo">meaningText</p>
            <p id="readingInfo">readingText</p>
        </details>
    </div>

    <script>
        document.getElementById("incorrectButton").addEventListener("click", incorrect, false);
        document.getElementById("correctButton").addEventListener("click", correct, false);

        document.body.addEventListener("keydown", keyShortcuts, false);

        // formatting often puts spaces between %% which creates syntax error
        var reviewList = <%-JSON.stringify(reviewList)%>

        var reviewRemainingCount = reviewList.length;

        // list of objects carrying if vocab was correct or incorrect
        var checkIfList = [];

        // change initial remaining review count
        document.getElementById("remainingCounter").innerHTML = reviewRemainingCount;

        // change initial kanji
        document.getElementById("kanji").innerHTML = reviewList[0].kanji
        document.getElementById("meaningInfo").innerHTML = reviewList[0].meaning
        document.getElementById("readingInfo").innerHTML = reviewList[0].reading

        i = 0

        function changeKanji() {
            // review end
            if (i + 1 === reviewList.length) {
                document.getElementById("reviewInput").value = JSON.stringify(checkIfList);
                document.getElementById("reviewForm").submit();
            }
            // next vocab
            else {
                i += 1

                // replace counter with remaining review count
                reviewRemainingCount -= 1
                document.getElementById("remainingCounter").innerHTML = reviewRemainingCount;

                // replace kanji
                document.getElementById("kanji").innerHTML = reviewList[i].kanji
                document.getElementById("meaningInfo").innerHTML = reviewList[i].meaning
                document.getElementById("readingInfo").innerHTML = reviewList[i].reading

                // close details info
                document.getElementById("vocabInfo").removeAttribute("open");
            }
        }
        function incorrect() {
            // vocabID currently not in use, future proofing
            checkIfList.push({ "vocabID": reviewList[i].vocabID, "check": false })

            changeKanji()
        }
        function correct() {
            checkIfList.push({ "vocabID": reviewList[i].vocabID, "check": true })

            changeKanji()
        }
        function keyShortcuts(event) {
            // minus key shortcut, incorrect, shift with minus gives underscore for event.key
            if (event.key === "_") {
                incorrect();
            }
            // plus key shortcut, correct
            else if (event.key === "+") {
                correct();
            }
            // left bracket shortcut, close details info
            else if (event.key === "{") {
                document.getElementById("vocabInfo").open = true;
            }
        }
    </script>

</body>
</html>