<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body id="signupBody">

    <div id="navbar">
        <a class="navbarLinks" id="navbarHome" href="/">Kanji Memory Add</a>
        <a class="navbarLinks navbarRightside" href="/signup">sign up</a>
        <a class="navbarLinks navbarRightside" href="/login">login</a>
    </div>

    <form action="/addSignup" method="post">
        <div class="container">
            <h1>Sign Up</h1>
            <hr class="horizontalLine">

            <label>Username</label>
            <input class="wideInput" type="text" placeholder="Username" name="username" required autofocus>

            <label>Email</label>
            <input class="wideInput" type="text" placeholder="Email" name="email" required>

            <label>Password</label>
            <input class="wideInput" type="password" placeholder="Password" name="password" required>

            <div class="clearfix">
                <button class="wideButton" type="submit">Sign Up</button>
            </div>
        </div>
    </form>


</body>
</html>