<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>


    <form action="/addSignup" method="post">
        <div class="container">
            <h1>Sign Up</h1>
            <hr>

            <label>Email</label>
            <input class="epInput" type="text" placeholder="Email" name="email" required>

            <label>Password</label>
            <input class="epInput" type="password" placeholder="Password" name="password" required>

            <div class="clearfix">
                <button class="signupbtn" type="submit">Sign Up</button>
            </div>
        </div>
    </form>


</body>
</html>