body {
    background-color: rgb(225,225,225);
}

.navbar {
    background-color: #00FFFF;
    overflow: hidden;
    border-radius: 10px;
    width: 80%;
    margin: 3% auto;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: grey;
}

.homeHref {
    float: left;
    font-size: 170%;
}

.lsHref {
    float: right;
    font-size: 110%;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10% 30%;
    text-align: center;
    padding: 16px;
}

.epInput {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 1;
}

/* removes signup button floating */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
